@import '../../common/globals.scss';

$gray-hover: #929396;

:root {
    --swap-box-color: white;
    --swap-border-color: rgb(210, 217, 238);
    --swap-button-border-color: white;
    --swap-button-background-color: #f8f4fc;
    --swap-arrow-color: black;
    --font-color: black;
    --settings-hover-color: gray;
}

[data-theme='dark'] {
    --swap-box-color: rgb(13, 17, 28);
    --swap-border-color: rgba(152, 161, 192, 0.24);
    --swap-button-border-color: rgb(13, 17, 28);
    --swap-button-background-color: rgb(41, 50, 73);
    --swap-arrow-color: rgb(93, 103, 133);
    --font-color: rgb(152, 161, 192);
    --settings-hover-color: white;
}

.swap-margin {
    margin-top: 125px !important;
}

.swap-box {
    position: relative;
    align-self: center;
    width: 450px;
    margin-top: 100px;
    padding: 8px;
    background-color: var(--swap-box-color);
    border-radius: 16px;
    border: 1px solid var(--swap-border-color);

    .swap-top {
        padding: 8px 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--font-color);

        .settings-icon {
            color: var(--font-color);
            font-size: 20px;
            transition: $transition;

            &:hover {
                cursor: pointer;
                color: var(--settings-hover-color);
            }
        }
    }

    .connect-button {
        width: 100%;
        margin-top: 15px;
        transition: $transition;
        padding: 16px;
        cursor: pointer;
        background-color: $primary-color;
        color: white;
        border: none;
        border-radius: 20px;
        font-weight: 600;
        font-size: 20px;
        -webkit-user-select: none; 
        -ms-user-select: none; 
        user-select: none; 

        &:hover {
            background-color: #9f75e7;
        }
    }

    .connect-button-disabled {
        pointer-events: none;
        color: lightgray;
        background-color: darkgray;
    }

    .swap-button {
        position: absolute;
        top: 44%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        background-color: var(--swap-button-background-color);
        border-radius: 12px;
        border: 4px solid var(--swap-button-border-color);
        transition: $transition;
        color: black;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            color: $gray-hover;
        }

        .arrow-down {
            color: var(--swap-arrow-color);
            font-weight: bold;
        }
    }
    .swap-button-disabled {
        pointer-events: none;
        color: $gray-hover;
    }
}

@media only screen and (max-width: 500px) {
    .swap-box {
        width: 90vw;
    }
}
