@import '../globals.scss';

:root {
    --single-token-hover: #f8fcfc;
    --scrollbar-background: lightgray;
}

[data-theme='dark'] {
    --single-token-hover: #181d28;
    --scrollbar-background: #293348;
}

.tokens-modal {
    position: relative;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0%, -60%);
    padding: 0px;
    width: auto;

    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-track {
        background: var(--swap-box-color);
    }

    ::-webkit-scrollbar-thumb {
        background: var(--scrollbar-background);
        border-radius: 5px;
    }

    .modal-dialog {
        display: flex;
        justify-content: center;

        .modal-content {
            height: 677px;
            border-radius: 15px;
            max-width: 400px;
            background-color: var(--swap-box-color);

            .tokens-header {
                border: none;
                padding-bottom: 0px;
                color: var(--black-to-white);
            }

            .tokens-modal-body {
                width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                height: 452px;
                padding: 10px 0px;

                .search-token-input {
                    width: 95%;
                    padding: 7px;
                    font-size: 16px;
                    color: var(--black-to-white);
                    outline: none;
                    border-radius: 10px;
                    border: 1px solid var(--swap-border-color);
                    transition: $transition;
                    margin: 0px auto;
                    margin-bottom: 10px;
                    background: var(--input-background);

                    &:hover {
                        border: 1px solid $primary-color;
                    }
                }

                .tokens-list {
                    overflow-y: scroll;
                    height: 100%;

                    .error {
                        margin-top: 10px;
                        text-align: center;
                        font-weight: bold;
                        color: var(--black-to-white);
                    }

                    .hide-token {
                        display: none;
                    }

                    .single-token {
                        display: flex;
                        align-items: center;
                        height: 56px;
                        cursor: pointer;

                        &:hover {
                            background-color: var(--single-token-hover);
                        }

                        .token-image {
                            display: flex;
                            justify-content: center;
                            margin-left: 10px;
                        }

                        .token-image > img {
                            width: 36px;
                            margin-right: 10px;
                        }

                        .token-name {
                            font-size: 16px;
                            font-weight: 600;
                            color: var(--black-to-white);
                        }

                        .token-symbol {
                            font-size: 12px;
                            color: gray;
                        }
                    }
                }
            }
        }
    }
}
