@import '../../../common/globals.scss';

.tokens-modal {
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
    .modal-content {
        height: 677px;
    }

    .tokens-modal-body {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 452px;
        padding: 10px 0px;

        .search-token-input {
            width: 95%;
            padding: 7px;
            font-size: 16px;
            color: black;
            outline: none;
            border-radius: 10px;
            border: 1px solid lightgray;
            transition: $transition;
            margin: 0px auto;
            margin-bottom: 10px;

            &:hover {
                border: 1px solid black;
            }
        }

        .tokens-list {
            overflow-y: scroll;
            height: 100%;

            .hide-token {
                display: none;
            }

            .single-token {
                display: flex;
                align-items: center;
                height: 56px;
                cursor: pointer;

                &:hover {
                    background-color: #f8fcfc;
                }

                .token-image {
                    display: flex;
                    justify-content: center;
                    margin-left: 10px;
                }

                .token-image > img {
                    width: 36px;
                    margin-right: 10px;
                }

                .token-name {
                    font-size: 16px;
                    font-weight: 600;
                }

                .token-symbol {
                    font-size: 12px;
                    color: gray;
                }
            }
        }
    }
}
