@import '../../../common/globals.scss';

:root {
    --swap-input-color: #f8f4fc;
    --swap-focus: #d6d3d8;
    --token-btn-background: white;
    --input-text-color: black;
}

[data-theme='dark'] {
    --swap-input-color: rgb(19, 26, 42);
    --swap-focus: rgba(152, 161, 192, 0.24);
    --token-btn-background: rgb(41, 50, 73);
    --input-text-color: white;
}

.single-swap {
    background-color: var(--swap-input-color);
    padding: 16px;
    border-radius: 12px;
    width: 100%;
    box-sizing: border-box;
    margin: 5px 0px;
    transition: $transition;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .swap-bottom {
        padding: 0px 12px;
        color: lightgray;
    }

    .swap-top {
        padding: 0px 12px;
    }

    &:focus-within {
        outline: 1px solid var(--swap-focus);
    }

    .swap-input {
        font-size: 36px;
        width: 50%;
        outline: none;
        border: none;
        background-color: var(--swap-input-color);
        color: var(--input-text-color);
        position: relative;
    }

    .token-btn-disabled {
        color: gray !important;
    }

    .token-btn {
        padding: 4px 8px;
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        border: none;
        font-weight: 600;
        background-color: var(--token-btn-background);
        color: var(--black-to-white);

        img {
            height: 18px;
        }
    }
}
