:root {
    --disconnect-background: #f8f4fc;
    --href-color: gray;
}

[data-theme='dark'] {
    --disconnect-background: rgb(41, 50, 73);
    --href-color: rgb(93, 103, 133);
}

.account-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin: 20px;

    .account-address {
        height: 100%;
        padding-top: 10px;
        cursor: pointer;
        color: var(--black-to-white);
        transition: 0.3s;

        .copy-icon {
            visibility: hidden;
        }
    }

    .account-address:hover {
        color: gray;
    }
    .account-address:hover > .copy-icon {
        visibility: visible;
    }

    .account-disconnect {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 30px;
        color: var(--black-to-white);
        background-color: var(--disconnect-background);
        border-radius: 10px;
        cursor: pointer;
    }
}

.account-balance {
    width: 100%;
    padding-left: 20px;
    font-size: 30px;
    font-weight: bold;
    color: var(--black-to-white);
}

.account-menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 20px;

    .account-menu-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-grow: 1;
        gap: 20px;

        font-weight: 900;
        margin: 0px 10px 0px 10px;
        a {
            color: var(--href-color);
        }
        .nav-link.active {
            color: var(--black-to-white);
            background-color: transparent;
        }
    }

    .account-menu-content {
        flex-grow: 20;
        margin: 10px;
    }
}
