@import '../../../../../common/globals.scss';

:root {
    --connector-div-background: #f8f4fc;
    --connector-div-background-hover: #f0ecfc;
    --connector-loader: black;
}

[data-theme='dark'] {
    --connector-div-background: rgb(19, 26, 42);
    --connector-div-background-hover: #383c54;
    --connector-loader: white;
}

.connector-header {
    margin: 20px 15px 20px 15px;
    justify-content: space-between;
    color: var(--black-to-white);
}

.connectors {
    flex-grow: 1;
    margin: 10px;

    .connector-div {
        display: flex;
        align-items: center;
        border-radius: 5px;
        background-color: var(--connector-div-background);
        height: 80px;
        gap: 20px;
        transition: $transition;
        cursor: pointer;

        &:hover {
            background-color: var(--connector-div-background-hover);
        }

        .connector-logo {
            height: 30px;
            margin: 5px;
            margin-left: 20px;
        }
        .connector-name {
            font-weight: bold;
            color: var(--black-to-white);
        }
        .connector-spinner {
            color: var(--connector-loader);
            height: 20px;
            width: 20px;
            margin-left: auto;
            margin-right: 20px;
            border-width: 2px;
        }
    }
}
