@import '../../../../../../../common/globals.scss';

:root {
    --img-display: block;
    --p-color: black;
}

[data-theme='dark'] {
    --img-display: none;
    --p-color: rgb(152, 161, 192);
}

.subpage-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 5px;

    img {
        display: var(--img-display);
    }

    h5 {
        font-weight: bold;
        color: var(--black-to-white);
    }

    p {
        color: var(--p-color);
    }

    button {
        padding: 10px 24px;
        border-radius: 12px;
        border: none;
        color: white;
        font-weight: bold;
        transition: $transition;
        background-color: $primary-color;
    }
}
