@import '../../../../common/globals.scss';

.info-dropdown-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .dots-icon {
        font-size: 24px;
    }

    .dropdown-toggle::after {
        display: none;
    }

    .dropdown-li {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-size: 16px;

        .dropdown-icon {
            font-size: 22px;
        }
    }

    .info-item {
        font-size: 14px;
        color: gray;
    }

    .dropdown-socials {
        margin-top: 10px;
        display: flex;
        gap: 10px;

        .social-link {
            transition: $transition;
            cursor: pointer;
            font-size: 18px;

            &:hover {
                color: gray;
            }
        }
    }
}

@media only screen and (max-width: 990px) {
    .dropdown-menu.show {
        position: fixed !important;
        bottom: 52px !important;
        inset: none !important;
        transform: none !important;
        width: 100vw;
    }

    .info-dropdown-container .dropdown-li {
        display: flex;
        justify-content: left;
    }
}
