.home-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 100px;

    .home-swap {

    }
    .home-logo{
        height: 400px;
    }
    .home-header {
        font-size: 100px;
    }
    .home-button {
        background-color: gray;
        color: white;
        border-radius: 25px;
        padding: 10px 50px 10px 50px;
    }
}

@media only screen and (max-width: 810px) {
    .home-container {
        margin: 0px;
        margin-top: 15px;
        gap: 20px;
        .home-header {
            font-size: 50px;
        }
    }
}

@media only screen and (max-height: 810px) {
    .home-container {
        margin: 0px;
        margin-top: 15px;
        gap: 20px;
        .home-logo{
            height: 300px;
        }
        .home-header {
            font-size: 50px;
        }
    }
}