@import '../../common/global.scss';

.button-connect {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;

  width: auto;
  height: 32px;

  color: $dark-pink;
  font-weight: bold;
  font-size: 16px;

  border: none;
  border-radius: 9999px;
  background-color: $light-pink;
  transition: $transition;

  cursor: pointer;

  .button-text {
    align-self: center;
    justify-self: center;

    padding-left: 10px;
    padding-right: 5px;
  }

  .button-text:hover {
    filter: brightness(80%);
    transition: .4s;
  }

  .button-line {
    height: 20px;
    width: 1.5px;
    background-color: $dark-pink;
  }

  .button-div-icon {
    display: flex;
    align-items: center;

    padding-left: 5px;
    padding-right: 10px;

    height: 100%;
    width: 100%;

    .button-icon-arrow {
      filter: invert(33%) sepia(95%) saturate(7431%) hue-rotate(319deg)
        brightness(104%) contrast(97%);
      height: 15px;
    }
  }
}
.button-connect:hover {
  box-shadow: 0px 0px 0px 1px black inset;
}

.dropdown-connect {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);

  padding: 10px;
  border: solid black 1px;
}
