@import "../../common/global.scss";

.background {
  display: block;
  position: fixed;

  width: 100vw;
  height: 100vh;

  background-color: black;
  opacity: 0.5;
  z-index: 10;
}

.popUp-div {
  display: flex;

  flex-direction: column;
  position: fixed;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  height: 25%;
  width: 25%;

  padding: 10px;

  background: #fff;
  z-index: 20;

  .title-div {
    display: flex;

    justify-content: space-between;
    
    margin: 10px 20px;
    .title-text {
    }
    .cancel-button {
      cursor: pointer;
    }
  }

  .loading-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex-grow: 4;
    row-gap: 20px;

    .loader {
      display: inline-block;
      box-sizing: border-box;

      width: 48px;
      height: 48px;

      border: 5px solid black;
      border-bottom-color: transparent;
      border-radius: 50%;

      animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  .connector-button {
    width: 100%;
  }
}
