@import "../../common/global.scss";

@mixin flex {
  display: flex;
}

.background {
  display: block;
  position: fixed;

  width: 100vw;
  height: 100vh;

  background-color: black;
  opacity: 0.5;
  z-index: 10;
}

.popUp-div {
  display: block;
  position: fixed;

  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);

  height: 25%;
  width: 25%;

  padding: 10px;
  
  background: #fff;
  z-index: 20;

  .title-div {
    @include flex();

    justify-content: space-between;
    margin: 20px;
    .title-text {
      
    }
    .cancel-button {
      padding: 2.5px;
      border: none;

    }
  }

  .connector-button {
    width: 100%;
  }
}
