@import '../../../common/globals.scss';

.connect-button-main {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 9999px;
    height: 35px;
    background-color: gray;
    transition: $transition;
    padding: 10px 12px;
    font-weight: 600;

    cursor: pointer;
}
