@import '../../common/globals.scss';

.tokens-container {
    margin-top: 100px;

    .tokens-title {
        font-size: 36px;
        margin-bottom: 32px;
    }

    .filter-section {
        display: flex;
        gap: 8px;
        margin-bottom: 20px;

        .dropdown {
            background-color: $primary-color;
            color: white;
            border: none;
            font-weight: bold;
            border-radius: 12px;
            transition: $transition;

            &:hover {
                background-color: #9f75e7;
            }
        }

        input {
            padding: 0px 10px;
            font-size: 14px;
            color: black;
            outline: none;
            border-radius: 10px;
            border: 1px solid lightgray;
            background-color: #f8f4fc;
            transition: $transition;

            &:hover {
                background-color: white;
            }
        }
    }

    tbody,
    td,
    tfoot,
    th,
    thead,
    tr {
        border: none;
    }

    .tokens-table {
        border-radius: 12px;
        background-color: white;

        thead {
            border-bottom: 1px solid lightgray;

            span {
                color: rgb(119, 128, 160);
                font-weight: initial;
            }

            .sort-by-span {
                cursor: pointer;
                transition: $transition;

                &:hover {
                    color: lightgray;
                }
            }
        }

        tbody {
            border: none;

            tr {
                cursor: pointer;
            }
        }
    }
}
