@import '../../common/globals.scss';
.token-detail-container {
    padding-top: 100px;
    display: flex;
    justify-content: center;

    .token-detail {
        width: 780px;

        .tokens-link {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 17px;
            text-decoration: none;
            color: rgb(119, 128, 160);
            transition: 0.3s;
            font-weight: bold;

            &:hover {
                color: rgba(119, 128, 160, 0.719);
            }
        }

        .token-info {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-top: 16px;
            font-size: 20px;

            color: rgb(119, 128, 160);

            div {
                display: flex;
                align-items: center;
                gap: 7px;
            }

            b {
                color: var(--black-to-white);
            }

            a {
                text-decoration: none;
                color: $primary-color;
                transition: 0.3s;

                &:hover {
                    color: rgba(119, 128, 160, 0.719);
                }
            }

            .token-name {
                gap: 15px;
                font-size: 32px;

                .token-named {
                    color: var(--black-to-white);
                }

                .token-symbol {
                    color: rgb(119, 128, 160);
                }

                img {
                    height: 80px;
                    width: 80px;
                    border-radius: 5px;
                }
            }

            .token-price {
                font-size: 48px;
            }

            .token-address {
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    color: rgba(119, 128, 160, 0.719);
                }
            }

            .token-etherscan {
                b {
                    font-size: medium;
                }
            }
        }
    }
}
