@import '../../../../common/globals.scss';

.main-canvas {
    margin: 5px;
    border: none !important;
    background-color: transparent;

    .main-div-canvas {
        display: flex;
        height: 100%;

        .left-panel {
            background-color: transparent;
            z-index: 0;
            height: 100%;
            width: 10%;
            padding-top: 15px;
            border-radius: 10px 0px 0px 10px;
            transition: $transition;
            text-align: center;
            font-weight: bold;
            cursor: pointer;
            color: var(--black-to-white);

            &:hover {
                translate: 5px;
                background-color: rgba(153, 161, 189, 0.08);
                color: gray;
            }
        }

        .right-panel {
            z-index: 1;
            height: 100%;
            width: 90%;
            display: flex;
            flex-direction: column;
            border: 1px solid var(--swap-border-color);
            background-color: var(--swap-box-color);
            border-radius: 10px;
        }
    }
}

.main-canvas-mobile {
    display: none;
}

@media only screen and (max-width: 700px) {
    .main-canvas {
        display: none;
    }

    .main-canvas-mobile {
        display: flex;
        height: 90vh !important;
        background-color: transparent;
        border: none;

        .backdrop-mobile {
            position: fixed;
            top: 0px;
            left: 0px;
            height: 100vh;
            width: 100vw;
            background-color: #000;
            opacity: 0.5;
        }

        .right-panel {
            z-index: 10;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            border-radius: 10px 10px 0px 0px;
            border: 1px solid var(--swap-border-color);
            background-color: var(--swap-box-color);
        }
    }
}
