@import '../../../../common/globals.scss';

.main-canvas {
    margin: 5px;
    border: none !important;
    background-color: transparent;

    .main-div-canvas {
        display: flex;
        height: 100%;

        .left-panel {
            background-color: transparent;
            z-index: 0;
            height: 100%;
            width: 10%;
            padding-top: 15px;
            border-radius: 10px 0px 0px 10px;
            transition: $transition;
            text-align: center;
            font-weight: bold;
            cursor: pointer;

            &:hover {
                translate: 5px;
                background-color: rgba(153, 161, 189, 0.08);
                color: gray;
            }
        }

        .right-panel {
            z-index: 1;
            height: 100%;
            width: 90%;
            display: flex;
            flex-direction: column;
            border: 1px solid lightgray;
            background-color: white;
            border-radius: 10px;
        }
    }
}

.main-canvas-mobile,
.backdrop-mobile {
    display: none;
}

@media only screen and (max-width: 700px) {
    .main-canvas {
        display: none;
    }
    .main-canvas-mobile {
        display: flex;
        height: 90vh !important;
        border-radius: 10px 10px 0px 0px;
        background-color: white;

        .right-panel {
            z-index: 1;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    }
    .backdrop-mobile {
        display: block;
    }
}
